{% extends 'layout.html' %}
{% block content %}

<form action='' method='POST'>
<table>
    {{ form.as_table }}
    <td colspan='2'><input type="submit" value="Submit"></td>
</table>
</form>

{% endblock %}