﻿{% extends 'layout.html' %}
{% block content %}
<p style='font-weight:bold;'>{{ data }}</p>
<ul>
    <li>
        Date of birth: {{ data.dob }}
    </li>
    <li>
        Email: {{ data.email }}
    </li>
    <li>
        Phone: {{ data.phone }}
    </li>
    <li>
        Bio: {{ data.bio }}
    </li>
</ul>
<a href='/edit/'>Edit this info</a>
{% endblock %}