<!DOCTYPE html>
<html>
    <head>
        <title>Django Playground</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
        <script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
        <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
        <script>
            $(function() {
                $("#id_dob").datepicker({
                        changeMonth: true,
                        changeYear: true,
                        dateFormat: 'dd/mm/yy'
                    });
                });
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>